*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,hmtl{
    min-height: 100%;

}
.welcome-page{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.alert{
    display: none;
}